ID:
<input type="text" [(ngModel)]="id">
<button (click)="getData()">Prikazi</button>

<br><br>
Winery: {{model.winery}}
<br>
Variety: {{model.variety}}
<br>
Title: {{model.title}}
<br>
Taster Twitter Handle: {{model.tasterTwitterHandle}}
<br>
Taster Name: {{model.tasterName}}
<br>
Region 1: {{model.region1}}
<br>
Region 2: {{model.region2}}
<br>
Province: {{model.province}}
<br>
Price: {{model.price}}
<br>
Points: {{model.points}}
<br>
Designation: {{model.designation}}