Winery:
<input type="text" [(ngModel)]="model.winery">
<br>  
Variety:
<input type="text" [(ngModel)]="model.variety">
<br>  
Title:
<input type="text" [(ngModel)]="model.title">
<br>  
Taster twitter handle: 
<input type="text" [(ngModel)]="model.tasterTwitterHandle">
<br>  
Taster name:
<input type="text" [(ngModel)]="model.tasterName">
<br>  
Region 1:
<input type="text" [(ngModel)]="model.region1">
<br>  
Region 2:
<input type="text" [(ngModel)]="model.region2">
<br>  
Province:
<input type="text" [(ngModel)]="model.province">
<br>  
Price:
<input type="number" [(ngModel)]="model.price">
<br>  
Points:
<input type="number" [(ngModel)]="model.points">
<br>  
Designation:
<input type="text" [(ngModel)]="model.designation">
<br><br>

File:
<br>
<input type="file" id="fileId" (change)="onFilesAdded($event)">

<br><br>

<button (click)='ispisi()' >Spasi</button>
